/.idea
/download
/netEaseMusic/download
/netEaseMusic/build
/zazhimiEx/download
/zazhimiEx/dist/seizeEx/download
/zazhimiEx/build
/zazhimiEx/dist/download
/netEaseMusic/dist/seizeNE/download
/netEaseMusic/dist/download
